/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 500px;
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}
.banner .about-sigin {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sigin .about, .banner .about-sigin .sign-in {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  text-transform: uppercase;
}
.banner .about-sigin .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid green;
}
.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
}
.banner .text span {
  color: green;
  font-size: 15px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 25px;
  cursor: pointer;
}
.banner .content-center .left, .banner .content-center .right, .banner .content-center .center {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner .content-center span {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}
.banner .content-center img {
  height: 30px;
  width: 30px;
}
